.footer {
  background: #0a4f70;
  color: white;
  padding: 30px;
  text-align: center;
}

.footer nav {
  margin-top: 10px;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}
