<section class="auth">
  <div class="auth-card">
    <h1>Inscription</h1>

    <form (ngSubmit)="submit()">

      <input
        type="text"
        placeholder="Nom complet"
        name="fullName"
        [(ngModel)]="formData.fullName"
        required
      />

      <input
        type="tel"
        placeholder="Téléphone"
        name="phone"
        [(ngModel)]="formData.phone"
        required
      />

      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="formData.email"
        required
      />

      <input
        type="password"
        placeholder="Mot de passe"
        name="password"
        [(ngModel)]="formData.password"
        required
      />

      <select
        name="role"
        [(ngModel)]="formData.role"
        required
      >
        <option value="" disabled>Sélectionnez votre rôle</option>
        <option value="BUYER">Acheteur</option>
        <option value="SELLER">Pêcheur / Vendeur</option>
      </select>

      <!-- ✅ MESSAGE SUCCÈS -->
      <p class="success" *ngIf="successMessage">
        {{ successMessage }}
      </p>

      <!-- ❌ MESSAGE ERREUR -->
      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <button
        type="submit"
        class="btn-primary"
        [disabled]="loading"
      >
        {{ loading ? 'Création...' : 'Créer mon compte' }}
      </button>

    </form>
  </div>
</section>
